.sw-footer {
  @include wh(100%, auto);
  min-height: 10px;
  background-color: $green;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding: #{0.5 * $spacing};

  .copyright {
    text-align: right;
    color: $white;
    margin-bottom: 0;
  }
}