$transition: clip-path 0.2s ease;

.header {
  @include wh(100%, auto);
  @include flex-center();
  min-height: calc(100vh - 50px);
  position: relative;

  .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .image-panel {
    z-index: 2;

    .mobile-image {
      width: 100%;
      height: calc(50vh - 25px);
      object-fit: contain;
      background: #FFFFFF;
      @include respond-from($screen-sm) {
        display: none;
      }
    }

    .desktop-image {
      width: 50%;
      height: calc(100vh - 50px);
      object-fit: contain;
      background: #FFFFFF;
      @include respond-until($screen-sm) {
        display: none;
      }

      transition: $transition;
    }
  }

  .color-overlay {
    background: $green;
    z-index: 1;

    transition: $transition;
  }

  .content-panel, .content-panel-lit {
    @include flex-center();

    padding: $spacing;
    background: #ffffff;
    color: $black;
    text-align: center;

    transition: $transition;

    @include respond-until($screen-sm) {
      width: 100%;
      height: calc(50vh - 50px);
      top: calc(50vh - 25px);

      padding: #{0.5 * $spacing};
    }

    @include respond-from($screen-sm) {
      width: 50%;
      height: calc(100vh - 50px);
      left: 50%;
    }
  }

  .content-panel {
    z-index: 4;
  }

  .content-panel-lit {
    z-index: 3;
    color: $white;
    background: transparent;
    pointer-events: none;
  }
}