.ps.ps-slider--carousel {
  color: $black;

  .c-carousel__card {
    justify-content: flex-start;
  }

  .c-carousel__card::after {
    background: #fce1d1;
  }

  .c-carousel__paddleNav {
    @include respond-from(1200px) {
      visibility: hidden;
    }
  }
}