.ps.ps-accordion {
  color: $black;

  .ps__wrap {
    max-width: calc(40em + calc(var(--c-padding)) + 4em);
  }

  .ps__main.grid {
    margin-top: 0;
  }

  .c-accordion__heading button {
    background: #fce1d1;
  }

  .c-accordion__panel.c-accordion__panel {
    background: #fce1d1;

    @include respond-until($screen-xs) {
      padding-right: var(--c-padding);
    }
  }

  p {
    max-width: $max-p-width;
  }
}