.ps.ps-alternate {
  .ps__wrap {
    //max-width: 100%;
  }

  p, li {
    margin-bottom: #{0.25 * $spacing};
  }

  ol {
    list-style-position: inside;
  }

  .ps__kicker {
    margin-bottom: 0;
  }

  .ps__title h1 {
    font-size: 2rem;
    margin-bottom: #{0.25 * $spacing};
  }
}