.ps.ps-slider--carousel {
  color: $black;

  .c-carousel__card {
    justify-content: flex-start;
  }


  .c-carousel__card__title h3 {
    @include typogram($body);
    margin-bottom: #{0.25 * $spacing};
  }

  .c-carousel__card::after {
    background: $grey;
    border-radius: 0px;
  }

  .c-carousel__paddleNav {
    @include respond-from(1200px) {
      visibility: hidden;
    }
  }
}